apps/snarl/src/snarl_version.hrl
rel/pkg/packlist
rel/pkg/*.tgz
rel/pkg/build-info
.eunit
dev
ebin
standalone.config
db
deps
*~
.DS_Store
Mnesia.*
erl_crash.dump
*.beam
rel/snarl
rel/snarl.tar.bz2
manifest
gproc_dist_*
