*.beam
*.version
*~
.DS_Store
.bin
.eunit
Mnesia.*
apps/snarl/include/snarl_version.hrl
apps/snarl/ebin
apps/snarl/include/SNARL-MIB.hrl
apps/snarl/priv/mibs/SNARL-MIB.bin
db
deps
dev
doc
ebin
erl_crash.dump
rel/pkg/*.tgz
rel/pkg/build-info
rel/pkg/packlist
rel/snarl
rel/snarl.tar.bz2
rel/snarl
snarl.xml
snarl_template.xml
standalone.config
.eqc-info
current_counterexample.eqc
.rebar
*.log
*.log.?
TEST-*
_build
