{lib_dirs, ["deps", "apps"]}.
{erl_opts, [{i, "apps"}, {i,"deps"}, {i, "../../deps/alog/include"}, debug_info,{parse_transform, lager_transform}]}.
{sub_dirs, ["rel", "apps/snarl"]}.
{deps,
 [
  {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "1.0.0"}}},
  {uuid, ".*", {git, "http://git.gitorious.org/avtobiff/erlang-uuid.git", {tag, "0.2.1"}}},
  {redo, "1.0", {git, "git://github.com/JacobVorreuter/redo", {tag, "228c0580d28e78836e633c95eb15ba42f88a0a0c"}}},
  {backyard, ".*", {git, "http://github.com/project-fifo/backyard.git", {tag, "0.1.0"}}},
  {statsderl, ".*", {git, "http://github.com/lpgauth/statsderl.git",  {tag, "6f78233b52c7992483d646a085f34271f05380f4"}}},
  {vmstats, ".*",   {git, "http://github.com/ferd/vmstats.git",  {tag, "0.1.0"}}}
 ]}.
