{lib_dirs, ["deps", "apps"]}.
{erl_opts, [{i, "apps"}, {i,"deps"}, {i, "../../deps/alog/include"}, debug_info,{parse_transform, lager_transform}]}.
{sub_dirs, ["rel", "apps/snarl"]}.
{deps,
 [
  {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "1.0.0"}}},
  {uuid, ".*", {git, "http://git.gitorious.org/avtobiff/erlang-uuid.git", {tag, "0.2.1"}}},
  {redo, "1.0", {git, "git://github.com/JacobVorreuter/redo", "HEAD"}},
  {statsderl, ".*", {git, "http://github.com/lpgauth/statsderl.git",  {branch, master}}},
  {vmstats, ".*",   {git, "http://github.com/ferd/vmstats.git",  {branch, master}}},
  {backyard, ".*", {git, "http://github.com/project-fifo/backyard.git", {branch, master}}}
 ]}.
