%% -*- erlang -*-
{sub_dirs, ["rel", "apps/snarl"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{eunit_opts, [{report,{eunit_surefire, [{dir,"."}]}}]}.
{deps, [
        {meck, "0.8.1", {git, "git://github.com/basho/meck.git", {tag, "0.8.1"}}},
        {lager, "2.0.*", {git, "git://github.com/basho/lager", {tag,"2.0.3"}}},
        {bcrypt, ".*", {git, "https://github.com/opscode/erlang-bcrypt.git", {tag, "7515e80a5e"}}},
        {yubico, ".*", {git, "https://github.com/project-fifo/erlang-yubico.git", {branch, "master"}}},
        {cuttlefish, ".*", {git, "https://github.com/basho/cuttlefish.git", {tag, "2.0.0rc2"}}},
        {riak_dt, ".*", {git, "https://github.com/basho/riak_dt.git", {tag, "de3a76edf7ded637616849b5405fe3865d4ab2cd"}}},
        {webmachine, ".*", {git, "git://github.com/basho/webmachine", {tag, "1.10.3"}}},
        {fifo_db, ".*", {git, "https://github.com/project-fifo/fifo-db.git", {tag, "0.1.4"}}},
        {fifo_dt, ".*", {git, "https://github.com/project-fifo/fifo_dt.git", {tag, "0.1.27"}}},
        {riak_core, ".*", {git, "git://github.com/project-fifo/riak_core", {branch, "fifo-0.6.0"}}},
        {fifo_utils, "0.1.1", {git, "https://github.com/project-fifo/fifo_utils.git", {tag, "0.1.1"}}},
        {riak_ensemble, ".*", {git, "https://github.com/basho/riak_ensemble.git", {branch, "develop"}}},
        {uuid, ".*", {git, "https://github.com/project-fifo/erlang-uuid.git", {branch, "master"}}},
        {jsx, ".*", {git, "http://github.com/talentdeficit/jsx.git", {tag, "v1.4.4"}}},
        {statebox, ".*", {git, "https://github.com/unisontech/statebox.git", {branch, master}}},
        {rankmatcher, ".*", {git, "https://github.com/Licenser/rankmatcher.git", {branch, master}}},
	{ecrdt, ".*", {git, "https://github.com/Licenser/ecrdt.git", {tag, "0.1.1"}}},
        {mdns_server_lib, ".*", {git, "https://github.com/Licenser/mdns_server_lib.git", {tag, "0.1.16"}}},
        {fifo_spec, "0.1.12", {git, "https://github.com/project-fifo/fifo_spec.git", {tag, "0.1.12"}}},
        {libsnarlmatch, ".*", {git, "https://github.com/project-fifo/libsnarlmatch.git", {tag, "0.1.2"}}},
        {folsom_ddb, ".*", {git, "https://github.com/dalmatinerdb/folsom_ddb.git", {tag, "0.1.1"}}},
        {fqc, ".*", {git, "https://github.com/project-fifo/fqc.git", {tag, "0.1.0"}}}
       ]}.

{plugin_dir, "deps/cuttlefish/src"}.
{plugins, [cuttlefish_rebar_plugin]}.
