[
 {gproc, 
  [{gproc_dist, all}]},
{redgrid,
  [
   {url, "redis://localhost:6379/"},
   {meta, []},
   {anonymous, false},
   {domain, "fifo"},
   {version, ""},
   {local_ip, "127.0.0.1"}
  ]},
 {alog, 
  [
   {enabled_loggers, [alog_tty]},
   {flows, 
    [
     {{mod,['_']}, {'=<', warning}, [alog_tty]},
     {{tag, [snarl]}, {'=<', debug}, [alog_tty]}
    ]}
  ]}
].
