{sys, [
       {lib_dirs, ["../apps/", "../deps/"]},
       {rel, "snarl", "0.6.0p9",
        [
         kernel,
         stdlib,
         sasl,
         snarl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "snarl"},
       {profile,  embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl,  [{incl_cond, include}]},
       {app, snarl, [{incl_cond, include}]}
      ]}.

{target_dir, "snarl"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {mkdir, "etc"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/snarl", "bin/snarl"},
           {template, "files/snaadm", "bin/snaadm"},
           {template, "files/snarl-admin", "bin/snarl-admin"},
           {copy, "../deps/cuttlefish/cuttlefish", "bin/cuttlefish"},
           {copy, "../share", "share"},
           {template, "../schema/snarl.schema", "share/schema/00-snarl.schema"},
           {template, "../schema/erlang_vm.schema", "share/schema/01-vm.schema"},
           {template, "../deps/riak_core/priv/riak_core.schema", "share/schema/02-riak_core.schema"},
           {template, "../schema/lager.schema", "share/schema/03-lager.schema"},
           {template, "../deps/fifo_db/priv/fifo_db.schema", "share/schema/04-fifo_db.schema"},
           {template, "../deps/fifo_db/priv/hanoidb.schema", "share/schema/05-hanoidb.schema"},
           {template, "../deps/fifo_db/priv/eleveldb.schema", "share/schema/06-eleveldb.schema"},
           {template, "../deps/fifo_db/priv/bitcask.schema", "share/schema/07-bitcask.schema"},
           {template, "../deps/mdns_server_lib/priv/mdns_server.schema", "share/schema/08-mdns_server.schema"},
           {template, "../deps/folsom_ddb/priv/folsom_ddb.schema", "share/schema/09-folsom_ddb.schema"},
           {template, "../schema/riak_sysmon.schema", "share/schema/10-riak_sysmon.schema"},
           {template, "../schema/snmp.schema", "share/schema/10-snmp.schema"},
           {copy, "../apps/snarl/mibs/SNARL-MIB.mib", "share/SNARL-MIB.mib"},
           {copy, "../snmp", "snmp"}
           ]}.
