{sys, [
       {lib_dirs, ["../apps/", "../deps/"]},
       {rel, "snarl", "0.4.0",
        [
         kernel,
         stdlib,
         sasl,
         snarl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "snarl"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, snarl, [{incl_cond, include}]}
      ]}.

{target_dir, "snarl"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config.example"},
           {template, "files/vm.args", "etc/vm.args.example"},
           {template, "files/snarl", "bin/snarl"},
           {template, "files/snaadm", "bin/snaadm"},
           {template, "files/snarl-admin", "bin/snarl-admin"},
           {copy, "files/snarl.xml", "share/snarl.xml"},
           {copy, "../snarl_template.xml", "share/snarl_template.xml"},
           {copy, "../apps/snarl/mibs/SNARL-MIB.mib", "share/SNARL-MIB.mib"},
           {copy, "../snmp", "snmp"}
           ]}.
