%%
%% etc/app.config
%%
{ring_state_dir,        "/var/db/snarl/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8098"}.
{handoff_port,          "8099"}.
{snarl_port,            "4200"}.
{snarl_ip,              "127.0.0.1"}.
{db_dir,                "/var/db/snarl"}.
{log_dir,               "/var/log/snarl"}.
%%
%% etc/vm.args
%%
{node,                  "snarl@127.0.0.1"}.
{cookie,                "snarl"}.
