%% -*- erlang -*-
%%
%% etc/app.config
%%
{ring_state_dir,        "/var/db/snarl/ring"}.
{web_ip,                "127.0.0.1"}.
{https_port,            "8097"}.
{web_port,              "8098"}.
{handoff_port,          "8099"}.
{snarl_ip,              "127.0.0.1"}.
{snarl_port,            4200}.
{snarl_sync_port,       4201}.

{db_path,               "/var/db/snarl"}.
{log_path,              "/var/log/snarl"}.

%%
%% etc/vm.args
%%
{node,                  "snarl@127.0.0.1"}.
{crash_dump,            "/var/log/snarl"}.
{cookie,                "snarl"}.
{run_user,              "snarl"}.

{cuttlefish,            "on"}.
{cuttlefish_conf,       "snarl.conf"}.

{platform_etc_dir,      "./etc"}.
{platform_bin_dir,      "./bin"}.
{platform_data_dir,     "/var/db/snarl"}.
{platform_lib_dir,      "./lib"}.
{platform_log_dir,      "/var/log/snarl"}.
