%% -*- erlang -*-
%%
%% etc/app.config
%%
{ring_state_dir,        "/data/snarl/db/ring"}.
{web_ip,                "127.0.0.1"}.
{https_port,            "8097"}.
{web_port,              "8098"}.
{handoff_port,          "8099"}.
{handoff_ip,            "127.0.0.1"}.
{snarl_ip,              "127.0.0.1"}.
{snarl_port,            4200}.
{snarl_sync_port,       4201}.

{service,               "snarl"}.
{bugsnag_app,           "snarl"}.
{bugsnag_release_state, "release"}.
{bugsnag_app_version,   "0.8.0"}.

{db_path,               "/data/snarl/db"}.
{log_path,              "/data/snarl/log"}.

%%
%% etc/vm.args
%%
{node,                  "snarl@127.0.0.1"}.
{crash_dump,            "/data/snarl/db"}.
{cookie,                "snarl"}.
{run_user,              "snarl"}.

{cuttlefish,            "on"}.
{cuttlefish_conf,       "snarl.conf"}.

{platform_etc_dir,      "/data/snarl/etc"}.
{platform_bin_dir,      "./bin"}.
{platform_data_dir,     "/data/snarl/db"}.
{platform_lib_dir,      "./lib"}.
{platform_log_dir,      "/data/snarl/log"}.
