%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8094"}.
{handoff_port,          "8104"}.
{snarl_port,            "4204"}.
{db_path,               "data"}.
{log_dir,               "log"}.

%%
%% etc/vm.args
%%
{node,                  "snarl4@127.0.0.1"}.
{cookie,                "snarl"}.
